*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}
.section1{
    display: flex;
    flex-direction: row;
}

header{
    background-color: #F2F2F2;
    width: 1263px;
    height:100px;
}
header .menu{
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}
header .menu .contato,
.sobre-contato{
    padding: 10px;
    margin-right: 10px;
    border: solid 2px #F5961D;
    background-color: #F5961D;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}
header .menu .contato:hover{
    background-color: #Ffff
}
header .menu .sobre-contato:hover{
    background-color: #ffff;
    color: #F5961D;
}
header .menu .contato a,
.sobre-contato a{
    text-decoration: none;
    color: #333333;
}
header .menu .contato a:hover{
    color: #F5961D;
}
.sobre-contato a:hover{
    color: #F5961D;
}
header .logo{
    padding: 27px
}
.logo img{
    width: 150px;
}
.container{
    margin-top: 200px;
    margin-left: 50px;
}
.text1{
    margin-bottom: 15px;
}
.text2{
    color: #F5961D;
    margin-bottom: 20px;   
}
.text2 h1{
    font-size: 90px;
}
.email{
    width: 400px;
    height: 35px;
    border: solid 3px #C0C0C0;
    padding: 8px;
}
.button{
    margin-top: 10px;
    width: 100px;
    height: 55px;
    background-color: #F5961D;
    color: aliceblue;
    padding: 8px;
    border: solid 1px white;
    cursor: pointer;
}
.target{
    background: linear-gradient(20deg, white, #F5961D, #F2F2F2);
    width: 1263px;
    height: 200px;
    margin-top: -80px;
}
img{
    width: 450px;
}
.container-da-img{
    margin-top: 70px;
    display: flex;
    justify-content: end;
    margin-left: 100px;

}
footer{
    width: 1194px;
    text-align: center;
    padding: 35px;
    background-color: #333333;
    color: white;
}
footer a{
    color: #AFC6E6;
}

@media(max-width:800px) {
    header{
        width: 329px;
        text-align: center;
    }
    header .menu {
        flex-direction: column;
        align-items:center;
        margin-top: 80px;
    }
    header .menu .contato, .sobre-contato {
        margin-bottom: 10px;
        text-align: center;
        width: 200px;
    }
    header .menu .contato:hover{
        background-color: #Ffff
    }
    header .menu .sobre-contato:hover{
        background-color: #ffff;
        color: #F5961D;
    }
    header .menu .contato a:hover{
        color: #F5961D;
    }
    .sobre-contato a:hover{
        color: #F5961D;
    }
    .text1 {
    margin-bottom: 8px;
    }
    .text2 h1{
        font-size: 36px;
    }
    .button{
        width: 260px;
    }
    .email{
        width: 240px;
    }
    
    .container-da-img{
        margin-top: 500px;
        margin-left: -319px;
    }
    img{
        width: 350px;
    }
    .target{
        width: 329px;
    }
    .section1{
        text-align: center;
    }
    footer{
        width: 302px;
        padding: 14px;
        text-align: justify;
        font-size: 15px;
    }
}